body {
  text-align: center;
  background-color: #011F3F;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin: 5%;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 50%;
  margin: auto;
}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
  background-size: cover; /* Ensure images cover the button */
  background-position: center; /* Center the image */
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-image: url('images/ella.jpg'); /* Replace with your image path */
}

.green {
  background-image: url('images/milki.jpg'); /* Replace with your image path */
}

.blue {
  background-image: url('images/ofir.jpg'); /* Replace with your image path */
}

.yellow {
  background-image: url('images/tofi.jpg'); /* Replace with your image path */
}

.pressed {
  box-shadow: 0 0 20px white;
  filter: brightness(70%); /* Dim the image when pressed */
}
